@model DoAnCoSo.ViewModel.GiaiDauDetails

@{
    ViewData["Title"] = "Details";
}

<h1>Chi Tiết Giải Đấu</h1>

<div>
    <h4>Giải Đấu</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.giaiDau.TenGiaiDau)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.giaiDau.TenGiaiDau)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.loaiGiaiDau.TenLoai)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.loaiGiaiDau.TenLoai)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.giaiDau.NgayBatDau)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.giaiDau.NgayBatDau)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.giaiDau.NgayKetThuc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.giaiDau.NgayKetThuc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.giaiDau.NoiDung)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.giaiDau.NoiDung)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.giaiDau.TrangThai)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.giaiDau.TrangThai)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.giaiDau.IdgiaiDau">Chỉnh Sửa</a> |
    <a asp-action="Index">Quay Về Danh Sách Giải</a>
</div>
